terraform/.terraform
terraform/.terraform.lock.hcl
.vscode 
.terraformrc
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/k8s.plan
terraform/terraform.tfstate.1768780465.backup

