services:
  db:
    image: postgres:17
    env_file:
      - .env
    ports:
      - 5432:5432
    healthcheck: # wait until Postgres is ready to accept connections
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  backend:
    build: backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/html:/usr/share/nginx/html
      - ./frontend/conf.d/:/etc/nginx/conf.d/ 
    depends_on:
      - backend

  adminer:
    image: adminer:5.4.1
    ports:
      - 8080:8080

volumes:
  db_data: